Яндекс Диск: https://disk.yandex.ru/d/DX_pu25ScFwOgA

Требования к дисциплине:

Главная задача – разработать транслятор,
переводящий текст с одного языка программирования
в текст на другой язык программирования.

Разрабатывать транслятор можно на любом языке (легче на Python).

Всего 4 лабораторные. Новая тема изучается раз в 4-6 лаб.
По каждой лабораторной нужен отчёт в электронном виде.
Пример отчёта есть. Отчёты обязательно скидывать Усову П.Е.

Будет экзамен без зачёта.

Лабораторные оцениваются на зачтено/незачтено.

Мой вариант – 28 (перевод с языка R на Python).

Самоэкзамен теоретически получить возможно.

Промежуточная аттестация – требования: 1 сданная лабораторная работа.

### Conda environment installation command below \/ \/ \/
conda create --name translator-development python=3.10 "tk=8.6.13=xft_h891c84d_3" pillow -c conda-forge -y
